@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #32cd32;
    --main-color-ten: #2db82d;
}

.theme-text {
    color: var(--main-color);
}

.navbar-brand {
    color: var(--main-color) !important;
}

.active {
    color: var(--main-color) !important;
    // have the bar stay 100% on the active

}

.navbar ul li a {
    position: relative;
    /* Set the position to relative to allow absolute positioning of the border */
    // width: 100%;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    color: var(--main-color);
    transition: width 0.2s ease-in-out;
    /* Set the transition effect to the width property only */
}

.navbar ul li a:hover::before {
    width: 100%;
    /* Increase the width to 100% on hover */
}

/* .navbar ul li a:hover {
    color: var(--main-color) !important;
    border-bottom: 3px solid var(--main-color);
    // border-top: 3px solid var(--main-color);
} */

body{
    background-color:#020202;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url(/assets/images/katsuma-tanaka-WBOhN_aLJVc-unsplash.jpg);
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.middle {
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}
.post {
    height: 80vh;
    width: 80%;
    // display: flex;
    // justify-content: end;
    // align-items: center;
    margin-top: 50px;
}

.middle h1 {
    font-size: 70px;
}

.btn-custom {

--bs-btn-font-weight: 600;
--bs-btn-color: var(--main-color);
--bs-btn-bg: var(--main-color);
--bs-btn-border-color: var(--main-color);

--bs-btn-hover-color: var(--main-color-ten);
--bs-btn-hover-bg: var(--main-color-ten);
--bs-btn-hover-border-color: var(--main-color-ten);
}

ul.list-style-none li {
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0px;
}

/* Index Text Blinking "." */
.blink {
    animation: blinker 5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*  
 *
 * Lusaka Findeco Rail line Photo by <a href="https://unsplash.com/@kt2080?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">katsuma tanaka</a> on <a href="https://unsplash.com/s/photos/Lusaka?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 *
 */