@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #32cd32;
    --main-color-ten: #2db82d;
}

.theme-text {
    color: var(--main-color);
}

.navbar-brand {
    color: var(--main-color) !important;
}

.active {
    color: var(--main-color) !important;
    // have the bar stay 100% on the active

}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul li a {
    position: relative;
    /* Set the position to relative to allow absolute positioning of the border */
    // width: 100%;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    color: var(--main-color);
    transition: width 0.2s ease-in-out;
    /* Set the transition effect to the width property only */
}

.navbar ul li a:hover::before {
    width: 100%;
    /* Increase the width to 100% on hover */
}


body{
    background-color:#020202;
    color:white;
    font-family: 'Poppins', sans-serif;
    //padding-top: 70px; /* equal to navbar height */
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url(/assets/images/katsuma-tanaka-WBOhN_aLJVc-unsplash.jpg);
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.middle {
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}

.post {
    height: 80vh;
    width: 80%;
    // display: flex;
    // justify-content: end;
    // align-items: center;
    margin-top: 50px;
}

.middle h1 {
    font-size: 70px;
}

.btn-custom {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--main-color);
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: var(--main-color);

    --bs-btn-hover-color: var(--main-color-ten);
    --bs-btn-hover-bg: var(--main-color-ten);
    --bs-btn-hover-border-color: var(--main-color-ten);
}

ul.list-style-none li {
    list-style: none;
}



/* Index Text Blinking "." */
.blink {
    animation: blinker 1s infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}


// Author HREF
.author_href {
    color: white;
    text-decoration: none;
}


/*  
 *
 * Lusaka Findeco Rail line Photo by <a href="https://unsplash.com/@kt2080?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">katsuma tanaka</a> on <a href="https://unsplash.com/s/photos/Lusaka?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 *
 */

 /*
  *
  * The first part of the code imports the "Poppins" font from Google Fonts and sets it as the default font for the website. It also sets the default margin,padding, and box-sizing for all elements on the page. 
  * The :root selector defines two custom CSS variables for the main color of the website. 
  * The ".theme-text" class sets the color of the text to the main color. 
  * The ".navbar-brand" class sets the color of the navbar brand to the main color. 
  * The ".active" class sets the color of the active link in the navbar to the main color. 
  * The ".navbar ul li a" selector positions the links relative to their container, and the ".navbar ul li a::before" selector adds a bottom border to the links. The width of the border increases to 100% on hover. 
  * The "body" selector sets the background color of the body to black and the color of the text to white. 
  * The ".header" class sets the background image of the header to a linear gradient and an image. 
  * The ".middle" class and ".post" class are used to set the height and width of the middle section and the post section respectively. 
  * The ".btn-custom" class defines custom Bootstrap button properties using CSS variables. 
  * The "ul.list-style-none li" selector removes the bullet points from the list items. 
  * the "footer" selector positions the footer at the bottom of the page.
  * 
  */