---
layout: default
---
<div style="padding-top: 70px;">
    <div class="post d-flex flex-row justify-content-between flex-wrap">
        <div class="col-md-2">
            <h1 class="fw-bold display-3">
                <span class="text-white">{{ page.title | split: " " | slice: 0, 2 | join: " " }}</span>
                <span class="theme-text">{{ page.title | split: " " | slice: 2, 4 | join: " " }}</span>
            </h1>
        </div>
        <div class="col-md-2 p-5">
            
        </div>
        <div class="col-md-8">
            <p class="text-white">
                {{ page.date | date_to_string }}
                {% assign author = site.authors | where: 'short_name', page.author | first %}
                {% if author %}
                - <a class="text-white text-decoration-none" href="{{ author.url }}">{{ author.short_name }}</a>
                {% endif %}
            </p>

            <h5 class="text-white">
                {{ content }}
            </h5>

            <div class="d-grid justify-content-md-end mt-5 mb-5">
                <a class="btn btn-custom text-white" href="/blog.html">Back</a>
            </div>
        </div>
    </div>
</div>